@charset "utf-8";
/**************************************************************
	Author : Kim Soo Hyun (Publisher)
	Date : 2018-00-00
	Version : 1.0
**************************************************************/

.skipNavi{width:0; height:0; line-height:0; font-size:0; visibility:hidden; position:absolute; left:-30000px; top:0;}